Source: context
Section: tex
Priority: optional
Maintainer: Debian TeX Task Force <debian-tex-maint@lists.debian.org>
Uploaders: Norbert Preining <norbert@preining.info>,
	   Hilmar Preusse <hille42@web.de>
Build-Depends: debhelper-compat (= 13), tex-common
Standards-Version: 4.6.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/debian-tex/context.git
Vcs-Browser: https://github.com/debian-tex/context
Homepage: https://www.pragma-ade.nl/

Package: context
Architecture: all
Depends: ruby, luametatex, texlive-binaries (>= 2019), texlive-base (>= 2019), texlive-metapost (>= 2019), lmodern, tex-gyre, ${misc:Depends}
Recommends: fonts-gfs-artemisia, fonts-gfs-baskerville, fonts-gfs-bodoni-classic, fonts-gfs-didot-classic, fonts-gfs-didot, fonts-gfs-olga, fonts-gfs-porson, fonts-gfs-gazis, fonts-gfs-neohellenic, fonts-gfs-solomos, fonts-gfs-theokritos, fonts-freefont-otf, fonts-sil-gentium, context-modules
Suggests: perl-tk, libxml-parser-perl, fontforge, context-nonfree
Conflicts: texlive-context
Replaces: texlive-context, tetex-bin (<< 2007)
Breaks: tetex-bin (<< 2007)
Provides: texlive-context
Description: powerful TeX format
 ConTeXt is a document-production system based, like LaTeX, on the TeX
 typesetting system.  Whereas LaTeX insulates the writer from
 typographical details, ConTeXt takes a complementary approach by
 providing structured interfaces for handling typography, including
 extensive support for colors, backgrounds, hyperlinks, presentations,
 figure-text integration, and conditional compilation.  It gives the
 user extensive control over formatting while making it easy to create
 new layouts and styles without learning the TeX macro language.
 ConTeXt's unified design averts the package clashes that can happen
 with LaTeX.
 .
 ConTeXt also integrates MetaFun, a superset of MetaPost and a powerful
 system for vector graphics.  MetaFun can be used as a stand-alone
 system to produce figures, but its strength lies in enhancing ConTeXt
 documents with accurate graphic elements.
 .
 ConTeXt allows the users to specify formatting commands in English,
 Dutch, German, French, or Italian, and to use different typesetting
 engines (PDFTeX, XeTeX, Aleph, and soon LuaTeX) without changing the
 user interface.  ConTeXt is developed rapidly, often in response to
 requests from the friendly user community.
